<style>

	.piece {

		width: 280px;
		text-align:center;
		margin: auto;
	}

</style>

<div class="piece" id="{{ pieces.currentPiece }}" on-swipe-left="pieces.go()" on-swipe-right="pieces.back()">
  <img style="width: 280px" ng-src="img/pieces/{{ pieces.currentPiece }}-white.png" />
  <div style="width: 48px; overflow:hide">
  	<audio id="{{ pieces.currentPiece }}-audio" src="{{ 'img/aud/' + pieces.currentPiece + '.mp3' }}" type="audio/mpeg" onended="audioDone(this.id)"/></audio>
  </div>
  <button ng-if="settings.soundOn" ng-click="pieces.toggleAudio(pieces.currentPiece)" class="btn btn-default" style="width: 50px;height: 35px"><i class="icon" ng-class="{ 'ion-pause' : pieces.audioIsPlaying(), 'ion-play' : !pieces.audioIsPlaying() }"></i></button>
</div>
  