<style>

	.piece {

		width: 280px;
		text-align:center;
		margin: auto;
	}

</style>


<div class="piece" on-swipe-left="pieces.go(pieces.nextPiece)">
  <img style="width: 280px" ng-src="img/pieces/{{ pieces.currentPiece }}-white.png">
  <div style="width: 48px; overflow:hide">
  	<audio id="{{ pieces.currentPiece }}-audio" src="img/aud/test.mp3" type="audio/mpeg" onended="audioDone()"/></audio>
  </div>
  <button ng-click="pieces.toggleAudio(pieces.currentPiece)"><i class="icon" ng-class="{ 'ion-pause' : pieces.audioIsPlaying(), 'ion-play' : !pieces.audioIsPlaying() }"></i></button>
</div>
  